{% extends 'layout.html' %}
{% block title %}
    articles
{% endblock %}
{% block content %}
    <div class="contArticulos">
        <div class="gcuadro1">
            <div class="cuadro1">
                <h1 id="titulo1">articles</h1>
                {% if articulo_id_edit==None %}
                    <form action="/articulos" method="POST">
                        <label for="producto">product:</label>
                        <input type="text" name="producto"/><br>
                        <label for="valor">COP</label>
                        <input type="number" name="valor"/><br>
            
                        <input type="submit" name="confirmar" value="save"/>
                    </form>
                {% else %}
                    <form action="/articulos" method="POST">
            
                        <label for="producto">product:</label>
                        <input type="text" name="producto" value="{{articulo_edit_name}}"/><br>
                        <label for="valor">COP</label>
                        <input type="number" name="valor" value="{{articulo_edit_value}}"/><br>
            
                        <input type="submit" name="confirmar" value="edit"/>
                        <input type="hidden" name="id" value="{{articulo_edit_id}}"/>
                    </form>
                {% endif %}
                {% if mensaje_flash=="cargado" %}
                    <p>product successfully loaded</p>
                {% elif mensaje_flash=="error" %}
                    <p>please complete the form</p>
                {% elif mensaje_flash=="error_producto"%}
                    <p>please write the name of the product</p>
                {% elif mensaje_flash=="error_valor"%}
                    <p>please write the price of the product</p>
                {% endif %} 
            </div>
        </div>
        <div class="cuadro2">
            <h1 id="titulo1">added products</h1>
            <table>
                <tr>
                    <td>name</td>
                    <td>price (COP)</td>
                </tr>
                {% for articulo in articulos %}
                    <tr>
                        <td>{{articulo.1}}</td>
                        <td>{{articulo.2}}</td>
                        <td>
                            <a href="{{url_for('articulosFile.articulo_editar',articulo_id=articulo.0)}}">Edit</a>
                            <a href="{{url_for('articulosFile.articulo_borrar',articulo_id=articulo.0)}}">Delete</a>
                        </td>
                    </tr>
        
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

