{% extends 'layout.html' %}
{% block title %}
    order history
{% endblock %}
{% block content %}
    <h1>order history</h1>
    <form action="/estado_pedidos" method="POST">
        <table>
            <tr>
                <td>Client name</td>
                <td>address</td>
                <td>date and time</td>
                <td>city</td>
                <td>phone number</td>
                <td>product</td>
                <td>quantity</td>
                <td>total value</td>
                <td>status</td>
            </tr>
        {% for pedido in pedidos %}
            <tr>
                <td>{{pedido.1}}</td>
                <td>{{pedido.2}}</td>
                <td>
                    new update<br>
                    {% if msg == pedido.0|string %} <!--se debe recordar que para usar == las variables deben ser del mismo formato-->
                        error: select a datetime <br>
                    {% endif %}
                    <input type="datetime-local" name="fech_hora{{pedido.0}}">
                </td>
                <td>{{pedido.4}}</td>
                <td>{{pedido.5}}</td>
                <td>{{pedido.6}}</td>
                <td>{{pedido.7}}</td>
                <td>{{pedido.8}}</td>
                <td>
                    backordered
                    {% if pedido.9=="backordered" %}
                        <input type="radio" name="status{{pedido.0}}" value="backordered" checked><br>
                        (last update:{{pedido.3}}) <br>
                    {% else %}
                        <input type="radio" name="status{{pedido.0}}" value="backordered"><br>
                    {% endif %}
                    in preparation
                    {% if pedido.9=="in preparation" %}
                        <input type="radio" name="status{{pedido.0}}" value="in preparation" checked><br>
                        (last update:{{pedido.3}}) <br>
                    {% else %}
                        <input type="radio" name="status{{pedido.0}}" value="in preparation"><br>
                    {% endif %}
                    out for delivery
                    {% if pedido.9=="out for delivery" %}
                        <input type="radio" name="status{{pedido.0}}" value="out for delivery" checked><br>
                        (last update:{{pedido.3}}) <br>
                    {% else %}
                        <input type="radio" name="status{{pedido.0}}" value="out for delivery"><br>
                    {% endif %}
                    delivered
                    {% if pedido.9=="delivered" %}
                        <input type="radio" name="status{{pedido.0}}" value="delivered" checked><br>
                        (last update:{{pedido.3}}) <br>
                    {% else %}
                        <input type="radio" name="status{{pedido.0}}" value="delivered"><br>
                    {% endif %}
                </td>
                <td>
                    <button type="submit" name="actualizar" value="{{pedido.0}}">update</button>
                    <a href="{{url_for('borrar_pedido',id_pedido=pedido.0)}}">cancel order</a>
                </td>
            </tr>
        {% endfor %}
        </table>    
    </form>
    
{% endblock %}