{% extends 'layout.html' %}
{% block title %}
    home
{% endblock %}
{% block content %}
    <div class="homeBlock">
        <h1>Home</h1><br>
        <p>welcome to my first website made with serverless and flask-python. it consist in three forms where you can submit products and orders in order to manage restaurant deliveries</p>
    </div>
    
{% endblock %}