<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | restaurant manager</title>
    <script src="https://kit.fontawesome.com/e88b073ad4.js" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script defer src="{{url_for('static',filename='js/control.js')}}"></script>
</head>
<body>
    <!--<h1>restaurant manager</h1>
    <hr/>-->
    <header class="header">
        <nav class="nav">
            <a href="{{url_for('hello_from_root')}}" class="home nav-link">Manager</a>
            <button class="nav-toggle">
                <i class="fas fa-database"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="{{url_for('articulosFile.articulosFunction')}}" class="nav-menu-link nav-link">record an article</a>
                </li>
                <li class="nav-menu-item">
                    <a href="{{url_for('pedidosFile.pedidosFunction')}}" class="nav-menu-link nav-link">take an order</a>
                </li>
                <li class="nav-menu-item">
                    <a href="{{url_for('estadoPedidosFile.estadoPedidosFunction')}}" class="nav-menu-link nav-link">order history</a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="content">
        {% block content %}

        {% endblock %}
    </section>
</body>
</html>