{% extends 'layout.html' %}
{% block title %}
    take an order
{% endblock %}
{% block content %}
    <h1>
        take an order 
        {% if msg=="noproduct" %}
            (please select a product to calculate)
        {% elif msg=="noquantity"%}
            (please insert a quantity to calculate)
        {% elif msg=="error_cantidad"%}
            (please insert a quantity)
        {% elif msg=="error_id"%}
            (please select a product)
        {% elif msg=="error_telefono" %}
            (please insert a phone number)
        {% elif msg=="error_ciudad" %}
            (please insert a city)
        {% elif msg=="error_direccion" %}
            (please insert a home address)
        {% elif msg=="error_datetime" %}
            (please insert date and time)
        {% elif msg=="error_nombrecliente" %}
            (please insert full client name)
        {% elif msg=="zero_negative"%}
            (null or negative quantities are not allowed)
        {% elif msg=="ready" %}
            (order in list: {{nombreCliente}})
        {% endif %}
    </h1>  
    {% if calculate %}
        <form action="/pedidos" method="POST">
            <p>
                <label for="nombreCliente">full name:</label>
                <input type="text" name="nombreCliente" value="{{nombreCliente}}"/>
            </p>
                <label for="datetime">date-time:</label>
                <input type="datetime-local" name="datetime" value="{{datetime}}"/>
            </p>
            <p>
                <label for="direccion">home address</label>
                <input type="text" name="direccion" value="{{direccion}}"/>

                <label for="ciudad">city</label>
                <input type="text" name="ciudad" value="{{ciudad}}"/><br>
            </p>
            <p>
                <label for="telefono">phone number</label>
                <input type="text" name="telefono" value="{{telefono}}"/><br>
            </p>
            <table>
                <h2>Select your product</h2>
                <tr>
                    <td>name</td>
                    <td>price (COP)</td>
                    <td></td>
                </tr>
                {% for articulo in articulos %}
                    <tr>
                        <td>{{articulo.1}}</td>
                        <td>{{articulo.2}}</td>
                        <td>
                            {% if id_util==articulo.0 %}
                                <input type="radio" name="entrada" value="{{articulo.0}}" checked=""/>
                            {% else %}
                                <input type="radio" name="entrada" value="{{articulo.0}}"/>
                            {% endif %}   
                        </td>
                    </tr>
        
                {% endfor %}
            </table>
            <p>
                <label for="cantidad">quantity</label>
                <input type="number" name="cantidad" value="{{cantidad}}"/><br>
            </p>
            <p>
                {% if calculate_sign %}
                    <label for="valor_neto">net value: {{tot_valor}}COP</label>
                    <input type="hidden" name="valor_neto"><br> <!--puede que no se necesite-->
                {% else %}
                    <label for="valor_neto">net value: {{tot_valor}}</label>
                    <input type="hidden" name="valor_neto"><br> <!--puede que no se necesite-->
                {% endif %}


            </p>

            <input type="submit" name="confirmar" value="calculate"/>
            <input type="submit" name="confirmar" value="add"/>
        </form>
    {% else %}
        <form action="/pedidos" method="POST">
            <p>
                <label for="nombreCliente">full name:</label>
                <input type="text" name="nombreCliente"/>
            </p>
                <label for="datetime">date-time:</label>
                <input type="datetime-local" name="datetime"/>
            </p>
            <p>
                <label for="direccion">home address</label>
                <input type="text" name="direccion"/>

                <label for="ciudad">city</label>
                <input type="text" name="ciudad"/><br>
            </p>
            <p>
                <label for="telefono">phone number</label>
                <input type="text" name="telefono"/><br>
            </p>
            <table>
                <h2>Select your product</h2>
                <tr>
                    <td>name</td>
                    <td>price (COP)</td>
                    <td></td>
                </tr>
                {% for articulo in articulos %}
                    <tr>
                        <td>{{articulo.1}}</td>
                        <td>{{articulo.2}}</td>
                        <td>
                            <input type="radio" name="entrada" value="{{articulo.0}}"/>
                        </td>
                    </tr>
        
                {% endfor %}
            </table>
            <p>
                <label for="cantidad">quantity</label>
                <input type="number" name="cantidad"/><br>
            </p>
            <p>
                <label for="valor_neto">net value: </label>
                <input type="hidden" name="valor_neto"><br>
            </p>

            <input type="submit" name="confirmar" value="calculate"/>
            <input type="submit" name="confirmar" value="add"/>
        </form>
    {% endif %}
{% endblock %}