*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    height: 100vh;
}

.header{
    background-color: #0767e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.home{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    width: max-content
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 6px;
}

.nav-menu-link:hover{
    background-color: #538aff;
    transition: 0.5s;

}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display:none;
}

.homeBlock{
    border: 3px solid #0767e9;
    background-color:#ffffff;
    border-radius: 20px;
    height: auto;
    margin: 0 auto;
}

.homeBlock p{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:#2c3e50;
    padding-bottom: 10px;
}

.homeBlock h1{
    padding-top: 10px;
    color: #0767e9;
    padding-left: 20px;
}

.contArticulos{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding-bottom: 20px;
    /*margin: 0 auto;*/
}

.gcuadro1{
    position: fixed;
    padding-left: 40%;
}
.cuadro1{
    border: 2px solid black;
    padding-left: 10%;
}



@media(max-width: 768px){
    body{
        padding-top: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .header{
        height: 60px;
    }
    .home{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link-active{
        background: none;
        color: #83c5f7;
    
    }
    .nav-toggle{
        display: block;
    }

    .nav-menu-visible{
        left: 0;
    }
}